* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    min-height: 100dvh;
    background-color: var(--grey-100);
}

:root {
    /* Colors */

    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    /* Font size */

    --p-font-size: 13px;
}

.testimonial-container {
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2.3rem;
    gap: 2rem;
}

.testimonial-card {
    max-width: 320px;
    box-shadow: 0 4px 6px hsl(0, 0%, 0%, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    /* align-items: center; */
}

.card-1 {
    color: var(--grey-100);
    background-color: var(--purple-500);
}
.card-2 {
    background-color: var(--grey-500);
    color: var(--grey-100);
}
.testimonial-card:nth-child(2) {
    /* grid-area: testi-2; */
    background-color: var(--grey-500);
    color: var(--grey-100);
}

.testimonial-card:nth-child(3) {
    /* grid-area: testi-3; */
    background-color: var(--white);
    color: var(--grey-500);
}

.testimonial-card:nth-child(4) {
    /* grid-area: testi-4; */
    background-color: var(--dark-blue);
    color: var(--grey-200);
}

.testimonial-card:nth-child(5) {
    /* grid-area: testi-5; */
    background-color: var(--white);
    color: var(--grey-500);
}

.author {
    display: flex;
    gap: 1.5rem;
}

figure {
    display: flex;
    align-items: center;
}

figure img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50%;
}

@media (min-width: 768px) {
    /* .testimonial-container {
        align-items: unset;
        grid-template-columns: repeat(4, minmax(200px, auto));
        grid-template-rows: auto auto;
        grid-template-areas:
            'testi-1 test-1 testi-2 testi-3'
            'testi-4 test-5 test-5 testi-3';
    } */
}
